@import url("https://fonts.googleapis.com/css2?family=Winky+Sans:ital,wght@0,300..900;1,300..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@theme {
  --font-winky: "Winky Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

@keyframes swing {
  50% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  } /* Inclinaison vers l'avant */
  100% {
    transform: rotate(0deg);
  }
}

.animate-swing {
  animation: swing 1.5s ease-in-out infinite;
}
