@tailwind base;
@tailwind components;
@tailwind utilities;
@keyframes swing {
    50% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); } /* Inclinaison vers l'avant */
    100% { transform: rotate(0deg); }
  }
  
  .animate-swing {
    animation: swing 1.5s ease-in-out infinite;
  }
  